
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.card{

  
  height: auto;
  width: auto;

}
.doctor-card {
  display: flex;
  flex-direction: row;
  align-items: center;

 

  height: 10rem;
  width: 16rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.doctor-card:hover {
  transform: translateY(-0.25rem);
}



.doctor-img {
  height: 50px;
  width: 50px;
  margin-left: 25%;
  transition: transform 0.2s ease-in-out;
}


.icon li {
  display: inline-block;
  margin-right: 20px;
 
}

.doctor-details {
  flex: 1 1 auto;
}

.doctor-details h2 {
  margin: 0 0 0.5rem;
  font-size:  12px;
}

.doctor-details p {
  margin: 0;
  font-size: 12px;
  color: #666;
}

